page-about {



      width: 100%;
      margin: 0px;
      padding: 0px;
      background-color: white!important;

      div.scroll-content{
        padding: 0px;
        margin: 0px;
      }

      .scroll-content{
        padding: 0px!important;
      }

      h1{
        font-size: 20px;
        padding-left: 5px;

      }

      p{
        padding-left: 5px;
      }

      ul{
        margin: 0px;
        padding: 0px;
        width: 100%;
      }
      li.section{
        width: 100%;
        list-style: none;
        border-top: 1px solid black;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: white;

      }

      .content-md{
        background-color: grey;
      }

      .content-ios{
        background-color: grey;
      }

      div.droite{
        float: right;
        width: 80%;
      }

      div.gauche{
        padding-left: 5px;
      }

      button.btn1{
        width: 100%;
        height: 49%;
        background-color: #d67b18;
        text-transform: uppercase;
        font-size: 24px;
      }

      button.btn2{
        width: 100%;
        height: 49%;
        background-color: #064270;
        text-transform: uppercase;
        font-size: 24px;
      }


}
