


.tab-button{
  background-color: #7fbc41;
  color: white;
}

ion-icon{
  color: white!important;
}

span.tab-button-text{
  color: white;
  font-size: 14px;
}

.toolbar-background-md{
  background-color: #7fbc41;
}

.toolbar-background-ios{
  background-color: #7fbc41;
}
div.toolbar-title-md{
  color: white;
}

div.toolbar-title-ios{
  color: white;
}

button.back-button{
  color: white;
}

span.spe{
  font-weight: bold;
}
